@charset "utf-8";


/*-------------------------------------------------------------------------
#container
---------------------------------------------------------------------------*/
/*-- container --*/
#container {
	width: auto;												/*幅*/
}



/*-------------------------------------------------------------------------
#header
---------------------------------------------------------------------------*/
#header {
	height: 54px;											/*高*/
}

#header h1 {
	margin-left: 110px;											/*余白*/
	font-size: 10px;											/*フォント*/
}

#header #logo img {
	width: 90px;												/*幅*/
	height: 36px;												/*縦*/
	margin: 0px 0px 0px 0px;									/*余白*/
}



/*-------------------------------------------------------------------------
nav#menu-box
---------------------------------------------------------------------------*/
nav#menu-box {
	margin: 24px 0px 0px 110px;									/*余白*/
}

nav#menu-box ul {
	height: 24px;												/*高*/
}

nav#menu-box ul li {
	width: 50px;												/*幅*/
}

nav#menu-box li a {
	font-size: 10px;											/*フォント*/
}



/*-------------------------------------------------------------------------
#ぱんクズ
---------------------------------------------------------------------------*/
#syncer-brcb {
	padding-top: 60px;											/*余白 内*/	
}



/*-------------------------------------------------------------------------
#main
---------------------------------------------------------------------------*/
/*-- main --*/
#main {
	float: none;												/*フロート解除*/
	width: auto;												/*幅*/
}



/*-------------------------------------------------------------------------
#side
---------------------------------------------------------------------------*/
#side {
	display: none;												/*非表示*/
}



/*-------------------------------------------------------------------------
boxcontents
---------------------------------------------------------------------------*/
.boxcontents ul li {
	float: none;												/*フロート解除*/
}

.boxcontents ul li a{
	width: auto;												/*幅*/
	height: 87px;												/*高さ*/
	margin: 0px 10px 0px 0px;									/*余白外*/	
	padding: 10px 0px 0px 10px;									/*余白内*/	
	border-top: none;											/*枠線*/
	border-right: none;											/*枠線*/
	border-left: none;											/*枠線*/
	border-bottom: 1px solid #dcdcdc;							/*枠線*/
}

.boxcontents ul li img{
	float: left;												/*フロート*/
	width: 75px;												/*幅*/
	height: 75px;												/*縦*/
	margin-bottom: 0px;											/*余白外*/
}



/*-------------------------------------------------------------------------
smallbox
---------------------------------------------------------------------------*/
.smallbox li img{
	display:none !important;									/*■CDのイメージを与えてしまうのでとりあえず非表示にすることにした*/
}



/*-------------------------------------------------------------------------
span
---------------------------------------------------------------------------*/
.point1 , .point2 {
	top: 5px;													/*位置*/
	left: 5px;													/*位置*/
	width: 30px;												/*幅*/
}














/*-------------------------------------------------------------------------
▼▼テスト専用▼▼
---------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------
sets
---------------------------------------------------------------------------*/
.sets {
	height: auto;												/*高さ*/
}

.sets .m10 {
	line-height:20px;										/*行間*/
	margin: -10px 10px 0px 0px;											/*余白外*/	
}
























